// This file includes global styles that could be used anywhere.

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

@mixin fix-padding(){
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@import "colors";
@import "ui";

* *{
  -webkit-user-select: none;
  cursor: default;
  @include fix-padding();
  outline: none;
}

html, body{
  height: 100%;
}

body{
  font-family: "Roboto";
  margin: 0;
  overflow: hidden;
}

.center{
  text-align: center;
}

h1, h2, h3{
  font-weight: 100;

  &.hero{
    font-size: 3em;
  }

  &.no-margin{
    margin: 2px 0;
  }
}
