<spirit-grid>
  <div class="grid-left">
    <h2 class="no-margin">Games</h2>
    <spirit-list>
      {% for game in games %}
        <li>{{ game.title }}</li>
      {% endfor %}
    </spirit-list>
  </div>
  <div class="grid-right">

  </div>
</spirit-grid>
